@import "tailwindcss";

@theme {
  --color-primary: #1a1717;
  --color-secondary: #f39022;
}

:root {
  --gradient-orange-glow: radial-gradient(
    81.16% 143.98% at 50% -5.92%,
    rgba(243, 145, 34, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  --gradient-orange-linear: linear-gradient(90deg, #F39022 -7.35%, #F8A921 103.68%);
}

.bg-orange-glow {
  background: var(--gradient-orange-glow);
}

.bg-orange{
  background: var(--gradient-orange-linear);
}

body {
  font-family: var(--font-rubik), sans-serif;

  background-color: #f5f5f5;
}

.container {
  max-width: 1365px !important;
  margin: 0 auto !important;
  padding: 0 1rem !important;
}

.section-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: #1a1717;
}

@media (min-width: 640px) {
  .section-header {
    font-size: 40px;
    line-height: 46px;
  }
}

.primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: linear-gradient(90deg, #f39022 -7.35%, #f8a921 103.68%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10000px;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 1;
}
.primary-button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 18px;
  font-weight: 500;
  border-radius: 10000px;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 1;

  color: #f39022;

  border: 1px solid;
  border: linear-gradient(90deg, #f39022 -7.35%, #f8a921 103.68%);
  border-image-slice: 1;
}

.primary-button:hover {
  opacity: 0.9;
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0%;
  color: #626262;
}

@media (min-width: 1024px) {
  .section-header {
    font-size: 44px;
    line-height: 52px;
  }

  .section-description {
    font-size: 20px;
  }
}

.gradient-btn {
  position: relative;
  overflow: hidden;
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 12px;
  padding: 12px 17px;
  transition: all 0.5s ease-in-out;
  background: transparent;
  z-index: 1;
}

.gradient-btn:hover {
  color: #fff;
  border-color: transparent;
}

.gradient-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(90deg, #f39022 -7.35%, #f8a921 103.68%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

.gradient-btn:hover::before {
  opacity: 1;
}
.gradient-btn-2 {
  position: relative;
  overflow: hidden;
  color: #f39022;
  border: 1px solid #f39022;
  border-radius: 12px;
  padding: 12px 17px;
  transition: all 0.5s ease-in-out;
  background: transparent;
  z-index: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.hero-shape {
  position: absolute;
  width: 800px;
  height: 1261.83px;
  top: -793px;
  left: -571px;
  background: #ffffff12;
  transform: rotate(135.06deg);
  opacity: 1;
}

.gradient-btn-2:hover {
  color: #fff;
  border-color: transparent;
}

.gradient-btn-2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(90deg, #f39022 -7.35%, #f8a921 103.68%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

.gradient-btn-2:hover::before {
  opacity: 1;
}

.gradient-btn-2 img {
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  filter: brightness(1) saturate(1);
}

.gradient-btn-2:hover img {
  filter: brightness(10) saturate(0);
  transform: scale(1.05);
  transition-delay: 0.05s;
}

.slick-slide {
  padding: 0 12px;
}

.slick-list {
  margin: 0 -12px;
}

.bg-orange {
  background: linear-gradient(90deg, #f39022 -7.35%, #f8a921 103.68%);
}

.hero-logo {
  position: absolute;
  transition: all 0.8s cubic-bezier(0.6, 0.01, 0.1, 1);
  opacity: 0;
  transform: translate(var(--x, 0px), var(--y, 0px)) scale(var(--scale, 0.5));
}

.hero-logo.show {
  opacity: 1;
  transform: translate(0px, 0px) scale(1);
}

@keyframes float-in {
  0% {
    transform: translate(var(--randX, 0px), var(--randY, 0px)) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes float-continuous {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logo-item {
  position: absolute;
  opacity: 0;
  animation: float-in 0.8s forwards ease-out, float-continuous 3s ease-in-out infinite;
}


.logo-item:nth-child(1) { animation-delay: 0s, 0.8s; }
.logo-item:nth-child(2) { animation-delay: 0.2s, 1s; }
.logo-item:nth-child(3) { animation-delay: 0.4s, 1.2s; }
.logo-item:nth-child(4) { animation-delay: 0.6s, 1.4s; }
.logo-item:nth-child(5) { animation-delay: 0.8s, 1.6s; }
.logo-item:nth-child(6) { animation-delay: 1s, 1.8s; }
.logo-item:nth-child(7) { animation-delay: 1.2s, 2s; }
.logo-item:nth-child(8) { animation-delay: 1.4s, 2.2s; }
